<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<style>
		ul li a {
		 --c: white;
		 color: var(--c);
		 font-size: 16 px;
		 border-radius: 0.5em;
		 width: 12em;
		 height: 3em;
		 text-transform: uppercase;
		 font-weight: bold;
		 font-family: sans-serif;
		 letter-spacing: O.lem;
		 text-align: center;
		 line-height: 3em;
		 position: relative;
		 overflow: hidden;
		 z-index: 1;
		 transition: 0.5 s;
		 margin: 1em;
		 float: right;
		 text-decoration: none;
		}
	</style>
	<title>Web 5</title>
</head>

<body>

	<nav>
	<ul>
		<li>
			<a href="https://tracy14.micromediaweb.com/web5/index.html">Home
			<span></span><span></span><span></span><span></span></a>
		</li>
		<li>
			<a href="https://www.instagram.com/p/Cj-U4HFOzff8BUtibTZwoGf0uoDEyIGg-yEFeU0/">Instagram Posts
			<span></span><span></span><span></span><span></span></a>
		</li>
		<li>
			<a href="https://tracy14.micromediaweb.com/web5/img/sketch.pdf">Sketch
			<span></span><span></span><span></span><span></span></a>
		</li>
		<li>
			<a href ="https://tracy14.micromediaweb.com/web5/Layout/index.html">HTML Layout
			<span></span><span></span><span></span><span></span></a>
		</li>
		<li>
			<a href ="https://tracy14.micromediaweb.com/web5/img/Moodboard_TL.pdf">Moodboard
			<span></span><span></span><span></span><span></span></a>
		</li>
		<li>
			<a href ="https://tracy14.micromediaweb.com/web5/img/Moodboard_RF_Crafts.pdf">Client
			<span></span><span></span><span></span><span></span></a>
		</li>
	</nav>

<div class="stuff">
    <div class="word">
        <h1>Title</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum commodi enim, voluptas labore sequi quae vero ipsam sunt quaerat ipsum repellendus vitae odit debitis, in nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum commodi enim, voluptas labore sequi quae vero ipsam sunt quaerat ipsum repellendus vitae odit debitis, in nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum commodi enim, voluptas labore sequi quae vero ipsam sunt quaerat ipsum repellendus vitae odit debitis, in nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum commodi enim, voluptas labore sequi quae vero ipsam sunt quaerat ipsum repellendus vitae odit debitis, in nobis.</p>
	</div>

    <div>
        <img src="https://via.placeholder.com/600x400">
    </div>
</div>

<div class="other">
        <img src="https://via.placeholder.com/400x300">
        <img src="https://via.placeholder.com/400x300" class="thing">
        <img src="https://via.placeholder.com/400x300"> 
        <span class="stretch"></span>
</div>

</body>
</html>